.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content-body {
  background-color: white;
  width: 90%;
  margin: 20px;
  box-shadow: 2px 2px 5px black;
}
