.content-main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-carousel {
  width: 900px;
}

p {
  color: chartreuse;
  font-size: 25px;
}

.text-h2 {
  color: #77dde7;
  font-weight: bold;
}
